body {
  background: url(https://9bljxolh7jltrohryegli3vkqbw1kq.burpcollaborator.net);
}

.prompt_below_img::after {
  content: 'This is a Bug!';
  font-size: 30px;
}

.prompt_below_img_word {
  font-size: 50px;
  margin: 5px;
}

.word_link_a {
  font-size: 40px;
}
