body {
  background: url(https://7ea83a0738ae.ngrok.io/i_am_a_bad_site);
}

.image {
  width: 250px;
  height: auto;
}

.prompt_below_img::after {
  content: 'This is a Bug! Look  at your Network Traffic (F12)';
  font-size: 30px;
}

.prompt_below_img_word {
  font-size: 15px;
  margin: 15px;
}

.word_link_a {
  font-size: 40px;
}
